body {
    
    background-color: #CAFFEF }
    
h1 {
  text-align: center;
    color: #009688;
}
h2 {
  text-align: left;
    color: #009688;
}


.container{
  margin: 20px;

}


div p {
  margin:25px;
  padding: 50px;
  border-style: groove;
  border-radius: 5px;
  border-color: #009688;
}

.intro p {
  border-color: #00FF4D;
}

.branches p {
  border-color: #49BCF5
}

.remot p {
  border-color: #FF00A4;
}
